{% load static %}

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="theme-color" content="#2c7be5" />
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
<link rel="manifest" href="/img/favicons/manifest.json">
<meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
<meta name="theme-color" content="#ffffff">
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->

<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">